<img src="../../assets/img/shopbackground.jpg" class="shopbackground" alt="">
<h1 class="title">Shop</h1>

<button routerLink="/home" type="button" class="btn btn-success back">Back to Forest</button>

<div class="grid-container">
  <div class="grid-item">
    <img class="seed" src="../../assets/img/whiteseed.svg" />
  </div>
  <div class="grid-item">
   <img class="seed" src="../../assets/img/blownseed.svg" />
  </div>
  <div class="grid-item">
   <img class="seed" src="../../assets/img/blackseed.svg" />
  </div>  
  <div class="grid-item">
    <button type="button" class="btn btn-success price">500 IOST</button>
  </div>
  <div class="grid-item">
    <button type="button" class="btn btn-success price">5000 IOST</button>
  </div>
  <div class="grid-item">
    <button type="button" class="btn btn-success price">10000 IOST</button>
  </div>  
</div>

<div class="grid-container">
  <div class="grid-item">
    <img class="seed" src="../../assets/img/tree1.svg" />
  </div>
  <div class="grid-item">
   <img class="seed" src="../../assets/img/tree2.svg" />
  </div>
  <div class="grid-item">
   <img class="seed" src="../../assets/img/tree3.svg" />
  </div>  
  <div class="grid-item">
    <button type="button" class="btn btn-danger price">Sell</button>
  </div>
  <div class="grid-item">
    <button type="button" class="btn btn-danger price">Sell</button>
  </div>
  <div class="grid-item">
    <button type="button" class="btn btn-danger price">Sell</button>
  </div>  
</div>