<img src="../../assets/img/gassbackground.jpeg" class="grassbackground" alt="" (drop)="drop($event)" (dragover)="allowDrop($event)">
<img src="../../assets/img/wateringcan.png" class="wateringcan" alt="" draggable="true" (dragstart)="drag($event)">
<img src="../../assets/img/seedpacket.png" class="seedpacket" alt="" draggable="true" (dragstart)="drag($event)">

<img src="../../assets/img/seeding.svg" class="seeding1" alt="">
<img src="../../assets/img/seeding.svg" class="seeding2" alt="">


<button routerLink="/shop" type="button" class="btn btn-success shop">Shop</button>